	<div class="center hero-unit">
	<h1>Archana Balagondar's sample application</h1>
	<br>
	<p>
		Welcome to my website.<br>
	Building something is a great way to learn something new.<br>
	My attempt to learn Ruby on Rails by building my won website.<br>
	</p>

	<p>
	Check out my resume through the resume finder or view the other links.
	</p>

	<%= link_to "Test the app now", candidates_path %>



	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>